PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
SECRET_KEY=
ID_CLIENT_OAUTH=ID CLIENT DE GOOGLE
SECRET_CLIENT_OAUTH=SECRET CLIENT DE GOOGLE
SALT_HASH=
EMAIL_PASS=contraseña de aplicacion google
USER_MAILER=email del dueño de EMAIL_PASS
ENV= dev | prod
CLOUD_NAME